<!DOCTYPE html>
{% load static %}

<html>

<head>
    <!--first commit-->
    <meta charset="utf-8">
    <title>🍒Kang M.J🍒</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>

<style>
    body {
        background-image: url('https://blog.kakaocdn.net/dn/MIPZx/btqGSsowWe1/1wfw01GPtOGkknheiFuFEK/purple1.jpg?attach=1&knm=img.jpg');
        background-size: cover;
    }
</style>

<body style="background-color:rgb(179, 133, 190);">
    <header>
        <img src="">
        <div style="font-family: 'Nanum Gothic', sans-serif;">
            <h1 style="color: white;"> &ensp; 뮤덕의 일상</h1>
            <nav class="menu">
                <ul>
                    <li><a href="{% url 'main' %} "><strong>메인</strong> </a></li>
                    <li><a href="{% url 'proflie' %}"> <strong>소개</strong></a></li>
                    <li><a href="{% url 'work' %}"> <strong>최근 본 작품</strong></a></li>
                    <li><a href="{% url 'like' %}"> <strong>좋아하는 모든것 </strong></a></li>
                    <li><a href="{% url 'sns' %}"> <strong>SNS</strong></a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="box" style="border-radius : 5px; padding: 10px;">
        <div class="likes" style="color: white; font-family: 'Nanum Gothic', sans-serif;">
            <h1><strong>좋아하는 넘버</strong></h1>
            <dl class="like_">
                <dt><strong>사의 찬미</strong></dt>
                <dd> <a href="https://www.youtube.com/watch?v=1DHQ8ig7Vfg" target="_blank">
                        <strong>저 바다에 쓴다</strong>
                    </a></dd>
                <dd> <a href="https://www.youtube.com/watch?v=-iv_XrrGz74" target="_blank">
                        <strong>죽음의 비밀</strong>
                    </a></dd>
                <dd> <a href="https://www.youtube.com/watch?v=Ehzcx3Qr32A" target="_blank">
                        <strong>난 그런 사랑을 원해</strong>
                    </a></dd>
                <hr>
                <dt><strong>더 라스트맨</strong></dt>
                <dd> <a href="https://www.youtube.com/watch?v=pEz39noi700" target="_blank">
                        <strong>안녕, 나의 친구</strong>
                    </a></dd>
                <dd> <a href="https://www.youtube.com/watch?v=4QTpLI7E97U" target="_blank">
                        <strong>Go into the Bunker!</strong>
                    </a></dd>
                <hr>
                <dt><strong>해적</strong></dt>
                <dd> <a href="https://www.youtube.com/watch?v=cvRg1TH-Bws" target="_blank">
                        <strong>해적의 황금시대</strong>
                    </a></dd>
                <dd> <a href="https://www.youtube.com/watch?v=_NIM_FbxCB4" target="_blank">
                        <strong>기분탓이야</strong>
                    </a></dd>
                <hr>
            </dl>
            <br>
            <h1><strong>좋아하는 배우</strong></h1>
            <dl class="like_">
                <dt><strong>이주순</strong></dt>
                <br>
                <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.6435-9/142969006_3900382650026454_2555754547836265032_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=bi-4KiY0L4MAX9F6eRy&_nc_ht=scontent-ssn1-1.xx&oh=00_AT8TWH_qFPqp7-7cJDLNkIVX_3mE3XVzRU4ICyFq95ay8Q&oe=62D7181E"
                    alt="순넷" height="300">

                <dt><strong>주요 작품</strong></dt>
                <dd>22~23 빨래, 22, 21 1차 쓰릴미, 21 스핏파이어그릴, 스프링 어웨이크닝, 20 펀홈, 6시 퇴근</dd>
                <br>
                <hr>
                <dt><strong>주민진</strong></dt>
                <br>
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxOTEwMjFfMTE3/MDAxNTcxNTkyOTM4Mzc4.OxkX3otRsn2zRGF0Sle76L1JaWmPDmUetc6xa1Cjh4Qg.XrrvckTSk7BRtx3C8l0AWuxFwC-tLrp-GSoSXGKwtKkg.JPEG.snow1994/D7pVQqsUIAABDb3.jpg?type=w800"
                    alt="밍우진" height="300">

                <dt><strong>주요 작품</strong></dt>
                <dd>22 더 테일 에이프릴 풀스, 광주, 난세, 사의 찬미, 21 더 픽션, 인사이드 윌리엄, 해적, 경종수정실록, 더 라스트맨, 더 모먼트</dd>
                <br>
                <hr>
                <dt><strong>노윤</strong></dt>
                <br>
                <img src="https://pbs.twimg.com/media/EtG-QSjUcAE8ZB3?format=jpg&name=large" alt="윤촤" height="300">
                <dt><strong>주요 작품</strong></dt>
                <dd>22 킹아더, 넥스트 투 노멀, 21 1차 쓰릴미, 마마 돈 크라이, 스프링 어웨이크닝, 20~21 블랙메리포핀스</dd>
                <hr>
                <br>
            </dl>
        </div>
    </div>




</body>

</html>