<!DOCTYPE html>
{% load static %}

<html>

<!--5 commit-->

<head>
    <meta charset="utf-8">
    <title>🍒Kang M.J🍒</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic&display=swap" rel="stylesheet">

</head>
<style>
    body {
        background-image: url('https://i.pinimg.com/originals/57/5b/b3/575bb3085ee11159b53920bb206036a0.jpg');
        background-size: cover;
    }
</style>

<body style="background-color: rgb(212, 212, 212);">
    <header>
        <img src="">
        <div style="font-family: 'Nanum Gothic', sans-serif;">
            <h1 style="color: white;"> &ensp; 뮤덕의 일상</h1>
            <nav class="menu">
                <ul>
                    <li><a href="{% url 'main' %} "><strong>메인</strong> </a></li>
                    <li><a href="{% url 'proflie' %}"> <strong>소개</strong></a></li>
                    <li><a href="{% url 'work' %}"> <strong>최근 본 작품</strong></a></li>
                    <li><a href="{% url 'like' %}"> <strong>좋아하는 모든것 </strong></a></li>
                    <li><a href="{% url 'sns' %}"> <strong>SNS</strong></a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="sns">

        <h1>Twitter</h1>
        <a href="https://twitter.com/via4845" target="_blank">
            <strong>@via4845</strong>
        </a>
    </div>
</body>

</html>