header img {
    height: 70px;
}

body {
    height: 125vh;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main {
    color: white;
}

header {
    background-color: rgb(144, 98, 158);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 rgb(94, 94, 94);
}

.menu {
    width: 50%
}

#cen_img {
    display: block;
    margin: auto;
}


header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}

.box {
    background: rgba(0, 0, 0, 0.3);
}

.sns {
    color: white;
}

.like_ {
    font-size: 13pt;
}